body {
	background-color: lightblue;
}

.main-head {
	position: absolute;
	top: 50px;
	left: 32%;
	font-size: 3em;
	font-weight: bold;
	text-decoration-line: underline;
}

.alert {
	margin-top: 50px;
}

.row {
	margin-top:50px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.form {
	background-color: lightgreen;
	box-shadow: 5px 5px 10px grey;
	margin-top: 15%;
	border-radius: 20px;
}

h2 {
	margin-top: 5px;
}

.btn {
	margin-left: 8%;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 300px;
}

